body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.emon {
  color: rgb(14, 101, 172);
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 70px;
  margin-top: 5px;
}
.half-width img {
  width: 90%;
}
.link-button {
  text-decoration: none;
  background-color: darkorange;
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 500;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.experience {
  width: 40%;
  padding-left: 20px;
  margin-left: 50px;
  margin-right: 40px;
  box-shadow: 10px 10px 40px black;
  background-color: white;
  border-radius: 20px;
}
#full {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#baby {
  border-left: 10px solid;
  border-left: 10px solid;
  border-image: linear-gradient(rgb(10, 138, 38), rgb(105, 170, 45));
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
